<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" routerLink="new">New Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <hr>
    <div class="list-group">
      <a class="list-group-item clearfix"
        [routerLink]="[i]"
        routerLinkActive="active"
        *ngFor="let r of recipes; let i = index">
        <app-recipe-item
          [recipe]="r"
          [index]="i"></app-recipe-item>
      </a>
    </div>
  </div>
</div>
