<div class="row">
  <div class="col-xs-12">

    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            name="amount"
            min="1"
            ngModel
            required
            pattern="^\d+$">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="editMode"
            (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>

  </div>
</div>
