<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="recipeForm.invalid">Save</button>

      <button
        type="button"
        class="btn btn-danger"
        (click)="onNavigateAway()">Cancel</button>

      <div class="form-group" [ngClass]="{'has-error': recipeForm.get('name').invalid && recipeForm.get('name').touched}">
        <label class="control-label" for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name">
      </div>

      <div class="form-group" [ngClass]="{'has-error': recipeForm.get('imgPath').invalid && recipeForm.get('imgPath').touched}">
        <label class="control-label" for="imgPath">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="imgPath"
          formControlName="imgPath"
          #imagePath>
      </div>

      <div class="form-group" >
        <img [src]="imagePath.value" alt="" class="img-responsive">
      </div>

      <div class="form-group" [ngClass]="{'has-error': recipeForm.get('description').invalid && recipeForm.get('description').touched}">
        <label class="control-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="6"
          style="resize: vertical;"
          formControlName="description"></textarea>
      </div>

      <div formArrayName="ingredients">
        <label class="control-label">Ingredients</label>
        <div
          class="row form-group"
          *ngFor="let ingredientCtrl of controls; let i = index"
          [formGroupName]="i">
          <div class="col-xs-8" [ngClass]="{'has-error': recipeForm.get('ingredients.' + i + '.name').invalid && recipeForm.get('ingredients.' + i + '.name').touched}">
            <input
              type="text"
              class="form-control"
              formControlName="name">
          </div>
          <div class="col-xs-2" [ngClass]="{'has-error': recipeForm.get('ingredients.' + i + '.amount').invalid && recipeForm.get('ingredients.' + i + '.amount').touched}">
            <input
              type="number"
              class="form-control"
              min="0"
              formControlName="amount">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-danger btn-block" (click)="onDeleteIngredient(i)">&times;</button>
          </div>
        </div>

        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>

      </div>

    </form>
  </div>
</div>
